//variables
$grey900: #48556A;
$grey500: #6E8098;
$grey400: #9DAEC2;
$grey200: #ECF2F8;

$bold: 600;
$medium: 500;

//fonts
@font-face {
    font-family: manrope;
    src: url(../fonts/Manrope-VariableFont_wght.ttf);
}

//mixins
@mixin flex($justify, $align, $direction) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}
@mixin text($color, $size, $weight, $height, $space) {
    font-family: manrope;
    color: $color;
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
    letter-spacing: $space;
}

//styles
.hidden {
    display: none !important;
}
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    @include flex(center, center, row);
    background-color: $grey200;
}

#container {
    @include flex(center, stretch, row);
    box-shadow: 0px 40px 40px #C9D5E1;
    background-color: white;
    border-radius: 10px;
    margin: 40px;
    width: 730px;
    position: relative;
    img {
        width: 285px;
        border-radius: 10px 0px 0px 10px;
    }
    #textContent {
        @include flex(space-evenly, center, column);
        gap: 24px;
        padding: 40px;
        h1 {
            @include text($grey900, 20px, $bold, 130%, 0.25px);
        }
        p {
            @include text($grey500, 13px, $medium, 140%, 0.12px);
        }
        #authorInfo {
            @include flex(space-between, center, row);
            width: 100%;
            #infoLeft {
                display: flex;
                align-items: center;
                gap: 16px;
                img {
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                }
                #nameDate {
                    display: flex;
                    flex-direction: column;
                    #name {
                        @include text($grey900, 13px, $bold, 140%, 0.12px);
                    }
                    #date {
                        @include text($grey400, 13px, $medium, 140%, 0.12px);
                    }
                }
            }
            .shareCircle {
                @include flex(center, center, row);
                height: 32px;
                min-width: 32px;
                background-color: $grey200;
                border-radius: 50%;
                cursor: pointer;
                img {
                    height: 13px;
                    width: 15px;
                    border-radius: 0;
                    user-select: none;
                }
            }
        }
    }
    #shareBlock {
        @include flex(center, center, column);
        position: absolute;
        right: -70px;
        bottom: 85px;
        #main {
            @include flex(center, center, row);
            background-color: $grey900;
            padding: 18px 38px;
            border-radius: 10px;
            gap: 16px;
            #mainLeft {
                @include flex(center, center, row);
                gap: 16px;
            }
            p {
                @include text($grey500, 13px, $medium, 140%, 25%);
                color: $grey400;
                margin-right: 8px;
                user-select: none;
                cursor: default;
            }
            img {
                border-radius: 0;
                height: 20px;
                width: auto;
                cursor: pointer;
            }
            .shareCircle {
                display: none;
            }
        }
        #triangle {
            width: 0; 
            height: 0;
            border-left: 12px solid transparent; 
            border-right: 12px solid transparent; 
            border-top: 12px solid $grey900;
        }
    }
}

// tablet view
@media only screen and (max-width: 875px) {
    #container {
        width: 600px;
    }
}

// mobile view
@media only screen and (max-width: 745px) {
    #container {
        margin: 65px 42px;
        flex-direction: column;
        img {
            width: 100%;
            border-radius: 10px 10px 0px 0px;
        }
        #textContent {
            #authorInfo {
                margin-top: 30px;
                margin-bottom: -26px;
            }
        }
        #shareBlock {
            flex-direction: row;
            background-color: $grey900;
            border-radius: 0px 0px 10px 10px;
            right: 0;
            bottom: 0;
            height: 76px;
            margin: auto;
            position: relative;
            width: 100%;
            #main {
                @include flex(space-between, center, row);
                width: 100%;
                gap: 16px;
                #mainLeft {
                    @include flex(center, center, row);
                    gap: 16px;
                }
                .shareCircle {
                    @include flex(center, center, row);
                    height: 32px;
                    min-width: 32px;
                    margin-right: 2px;
                    background-color: $grey500;
                    border-radius: 50%;
                    cursor: pointer;
                    img {
                        height: 13px;
                        width: 15px;
                        border-radius: 0;
                        user-select: none;
                    }
                }
            }
            
            #triangle {
                display: none;
            }
        }
    }
}